:root {
    --color-primary: #1A237E;
    --color-secondary: #AD1457;

    --color-text: #2e2e31;
    --color-text-light: #fdfdfd;
    --color-border: #d1d0d2;

    --color-success: #33691E;
    --color-error: #C62828;
    --color-warning: #EF6C00;
}

// button styles
.button {
  display: flex;
  overflow: hidden;

  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }
  
  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  
  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-primary {
  color: var(--color-text-light);
  background: var(--color-primary);
  
   &:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
}

.button.-success {
  color: var(--color-text-light);
  background: var(--color-success);
  
   &:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }

  &:disabled {
    background: #638b54;
  }
}