@import '_variables-sizes.scss';
@import '_typography.scss';
@import '_grid.scss';
@import '_buttons.scss';

body {
  font-family: $theme-font;
  background-color: $themeColor-Light;

  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 50px;

  h1, h2 {
    margin-top: 0px;
    margin-bottom: 3px;
    color: $themeColor-Dark
  }

  textarea {

  }

  .text-brown {
    color: brown
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  figure {
    img{
      max-width: 320px;
      max-height: 320px;
    }
  }

  #rowMain {
    @media only screen and (max-width: 930px) {
      margin: auto;
      width: 50%;
    }

    @media only screen and (max-width: 768px) {
      margin: auto;
      width: 65%;
    }

    @media only screen and (max-width: 599px) {
      margin: auto;
      width: 75%;
    }

    @media only screen and (max-width: 476px) {
      margin: auto;
      width: 95%;
    }
  }

}